[Unit]
Description=Nextcloud backup
Wants=backup-nextcloud.timer

[Service]
Type=oneshot
ExecStart=backup-nextcloud

[Install]
WantedBy=multi-user.target